$body-color: #666666;
$font-family-base: "Varela Round";
$primary: #de5d5d;
$font_second: "Montserrat";
$line-height-base: 1.2;
$gutter: 30px;
$gutter-S: 20px;
$semibold: 600;
$normal: 400;
$medium: 500;